<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.dao.AppCategoryMapper">
    <!--List<AppCategory> getAppCategoryListByParentiId(@Param("pid") Integer pid);-->
    <select id="getAppCategoryListByParentiId"  resultType="appCategory">
        SELECT * FROM
          app_category
            <where>
                <if test="pid == null" >
                    parentId IS NULL
                </if>
                <if test="pid != null" >
                    parentId = #{pid}
                </if>
            </where>
    </select>
</mapper>